
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500;700&display=swap');

body{
    background: linear-gradient(0deg, transparent 119px, #333 120px),linear-gradient(90deg, transparent 119px, #333 120px);
    background-size: 120px 120px;
    animation-duration: 1.5s;
    animation-name: fadeIn;
    font-family: 'Noto Sans JP', sans-serif;

}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

header{
	position: static;
	top: 0px;
	overflow: hidden;
	width: 99vw;
	height: 120px;
	background-color: #FFF;
	padding: 0;
}
header img{
	height: 120px;
}

#navbar{

	overflow: hidden;
	background-color: #333;
}
#navbar a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align:center;
	padding: 14px 16px;
	font-size: 1.25em;
	text-decoration: none;
}
#navbar a:hover{
	background-color: #ddd;
	color: #111;
}

.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}

footer {
	text-align: center;
	margin: 10px;
	font-weight: 300;
}
footer p{
	padding: 10px
}


/* Swiper  */
.swiper-container{
	width: 100%;
	height: 70vh;
	text-align: center;

}


/*.swiper-pagination{
	position: static;
}*/

.swiper-slide{

}

.swiper-slide.pic1{
	background-image: url("../img/SSR01_2.png");
	width: 100%;
	height: 70vh;
	background-size: cover;
}

.swiper-slide.pic2{
	background-image: url("../img/SSR02_2.png");
	width: 100%;
	height: 70vh;
	background-size: cover;
}


.swiper-slide.pic3{
	background-image: url("../img/SSR03_2.png");
	width: 100%;
	height: 70vh;
	background-size: cover;
}

.swiper-slide.pic4{
	background-image: url("../img/SSR04_2.png");
	width: 100%;
	height: 70vh;
	background-size: cover;
}

.swiper-slide.pic5{
	background-image: url("../img/SSR05_2.png");
	width: 100%;
	height: 70vh;
	background-size: cover;
}

.swiper-slide.stand1{
	background-image: url("../img/Minako_stand.png");
	background-size: contain;
	background-repeat: no-repeat;
}
.swiper-slide.stand2{
	background-image: url("../img/Minako_stand.png");
	background-size: cover;
	background-repeat: no-repeat;
}

section{
	margin: 120px;
}
section h1{
	margin-top: 120px;
	text-align: center;
	font-size: 3em;
}

.profile{
	display: flex;
	background-color: #fff;
}

.standimage{
	width: 50%;
	background-color: #EEE;
}
/*.profile-list{
	flex-basis: 50%;
	background-color: #333;
}*/

.profile-list{
	padding: 10px;
}

tr, th, td{
	margin: 0px;
	padding: 10px;
}
th{
	border-box
}